/* Soft resets */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.icons-container {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 7rem;
  display: flex;
  align-items: center;
  gap: 6rem;
  white-space: nowrap;
  overflow: scroll;
  scroll-behavior: smooth;
}

.icons-container::-webkit-scrollbar {
  display: none;
}

.icon-box {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  opacity: 0.6;
  position: relative;
}

.icon-box:hover {
  opacity: 1;
}

.icon {
  width: 3rem;
  height: 3rem;
}
.icon-title {
  white-space: nowrap;
  font-size: 1.2rem;
}

.fa-chevron-left,
.fa-chevron-right {
  border: 1px solid #9dede1;
  position: absolute;
  padding: 0.5rem 0.8rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.6;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.fa-chevron-left {
  left: 5%;
}
.fa-chevron-right {
  right: 5%;
}
