/* Soft resets */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  position: relative;
}

.nav {
  z-index: 200;
  background-color: #fffffc;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 1.6rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.fa-airbnb {
  font-size: 3rem;
  color: #ef233c;
}

.logo-name {
  font-size: 2rem;
  font-weight: bold;
  color: #ef233c;
}

.home-page-header-right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fa-globe,
.host-text,
.bars-user {
  cursor: pointer;
}

.host-text {
  font-size: 1.4rem;
  font-weight: 500;
}

.text-background {
  padding: 1rem 1.5rem;
  border-radius: 50px;
  transition: all 0.4s;
}

.text-background:hover {
  background-color: #ffefef;
}

.fa-globe {
  font-size: 1.5rem;
}

.globe-background {
  padding: 1rem 1.5rem;
  border-radius: 50%;
  transition: all 0.4s;
}

.globe-background:hover {
  background-color: #ffefef;
}

.bars-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #9dede1;
  padding: 1rem 1.5rem;
  border-radius: 50px;
  transition: all 0.3s;
}

.bars-user:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.fa-bars {
  font-size: 1.4rem;
}

.fa-user {
  font-size: 1.8rem;
}
