/* Soft resets */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.search-box {
  border: 1px solid #9dede1;
  padding: 1rem 2.5rem;
  border-radius: 50px;
  font-size: 1.4rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.search-box:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.horizontal {
  height: 2rem;
  width: 0.1rem;
  background-color: #9dede1;
}

.add-guests {
  opacity: 0.4;
  font-weight: 400;
}

.search-icon-box {
  background-color: #fb8500;
  padding: 0.8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: -1.6rem;
}

.fa-magnifying-glass {
  font-size: 1.2rem;
  color: #fff;
}
