/* Soft resets */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.where-pop-up-container {
  border: 1px solid;
  padding: 2rem;
  border-radius: 50px;
}

.where-pop-up-heading {
}
.where-pop-up-img-box {
}
.where-pop-up-img {
}
.where-pop-up-text {
}
