/* Soft resets */

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* HomePageHeader styles*/

.nav {
  background-color: #fffffc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 3rem;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.fa-airbnb {
  font-size: 3rem;
  color: #ef233c;
}

.logo-name {
  font-size: 1.8rem;
  font-weight: bold;
  color: #ef233c;
}

.home-page-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-globe,
.host-text,
.bars-user {
  cursor: pointer;
}

.host-text {
  font-size: 1.3rem;
  font-weight: 500;
}

.text-background {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.4s;
}

.text-background:hover {
  background-color: #ffefef;
}

.fa-globe {
  font-size: 1.4rem;
}

.globe-background {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: all 0.4s;
}

.globe-background:hover {
  background-color: #ffefef;
}

.bars-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid #9dede1;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s;
}

.bars-user:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.fa-bars {
  font-size: 1.2rem;
}

/* HomePageSearch styles */

.search-box {
  border: 1px solid #9dede1;
  padding: 0.3rem 2rem;
  border-radius: 50px;
  font-size: 1.3rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.search-box:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.horizontal {
  height: 2rem;
  width: 0.1rem;
  background-color: #9dede1;
}

.add-guests {
  opacity: 0.4;
  font-weight: 400;
}

.search-icon-box {
  background-color: #fb8500;
  padding: 0.8rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: -1.4rem;
}

.fa-magnifying-glass {
  font-size: 1.2rem;
  color: #fff;
}
