*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* HomePageHeader styles*/

.nav {
  background-color: #f1faee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 3rem;
}

.logo-box {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.fa-airbnb {
  font-size: 3rem;
}

.logo-name {
  font-size: 1.8rem;
  font-weight: bold;
}

.home-page-header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.fa-globe,
.host-text,
.bars-user {
  cursor: pointer;
}

.host-text {
  font-size: 1.3rem;
}

.text-background {
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.4s;
}

.text-background:hover {
  background-color: antiquewhite;
}

.fa-globe {
  font-size: 1.4rem;
}

.globe-background {
  padding: 0.5rem 1rem;
  border-radius: 50%;
  transition: all 0.4s;
}

.globe-background:hover {
  background-color: antiquewhite;
}

.bars-user {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  transition: all 0.3s;
}

.bars-user:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}

.fa-bars {
  font-size: 1.2rem;
}
